* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family:'Montserrat', sans-serif;
}

body h1 {
    /* font-size: min(max(10px, 4vw), 16px);     */
    font-size: 3vw;
}

body h2 {
    /* font-size: min(max(10px, 4vw), 16px);     */
    font-size: 2.5vw;
}

body p {
   /* font-size: min(max(10px, 4vw), 16px); */
   font-size: 1.2vw;
}

