
#icon-bar-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

#icon-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgb(228, 209, 176);
    margin-top: 0.15vw;
}

#icon-box {
    display: flex;
    width: 15vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

#icon-box p {
    font-size: 1vw;
}